/* Pallette */
/*#4ABDAC
#FC4A1A
#F7B733
#DFDCE3*/

/* Typography */

html, body, button {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: 500;
  font-size: 0.8em;
}

p {
  font-size: 0.8em;
  text-align: justify;
}

button {
  font-size: 0.8em;
  font-weight: 600px;
  color: white;
  text-transform: uppercase;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

.about, .about a {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.about a:hover{
  color: #F7B733;
}

footer {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

/* Header */

header {
  background-color: #4ABDAC;
  height: 5em;
}

/* Navigation */
.nav {
  position: fixed;
  display: inline-block;
  list-style-type: none;
  width: 80vw;
}

.nav li{
  float: left;
}

.title {
  margin-top: 0.2em;
}

.about {
  float: right !important;
  margin-top: 1em;
}

/* Logo */

.logo {
  height: 4em;
  margin-top: 0.5em;
  margin-left: 3em;
}

/* Content part */

.container {
  position: relative;
  overflow-y: scroll;
  min-height: 100vh;
}

/* Previews */

.previews {
  border: 2px solid #F7B733;
  border-radius: 1em;
  background-color: #DFDCE3;
  margin: 1em;
  max-width: 25vw;
  max-height: 75vh;
  float: left;
  overflow-y: scroll;
}

.preview {
  margin: 1em;
  text-align: center;
}

.preview img {
  width: 20vw;
  border: 2px solid darkgrey;
  border-radius: 0.3em;
  margin-left: 0.8em;
}

/* Article */

.article {
  float: right;
  max-width: 65vw;
  min-height: 110vh;
  margin: 1em;
}

.article-image {
  display: block;
  margin: auto;
  width: 60%;
  border: 2px solid darkgrey;
  border-radius: 0.3em;
}

button {
  display: block;
  width: 60px;
  margin: auto;

  border: 2px solid #FC4A1A;
  border-radius: 0.3em;
  background-color: #FC4A1A;

  padding: 0.5em;
}

.article p {
  margin: 1em;
  column-count: 2;
}

.article h3 {
  margin: 1em;
  text-align: center;

}

/* Footer */

footer {
  position:fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: #FC4A1A;
  line-height: 0px;
}

/* Responsiveness */

@media (max-width: 725px) {
  .article {
    min-width: 100vw;
  }

  .article img {
    /*max-height: 200px;*/
  }

  .previews img {
    width: 60vw;
  }

  .previews {
    min-width: 95vw;
  }
}

@media only screen and (max-width: 400px) {
  .article p {
    column-count: 1;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .article p {
      column-count: 1;
    }
}
